.header{
    width: 100%;
    background-color: #282c34;
    height: 60px;
    color: white
}
.headerText{
    font-weight: 600px;
    padding:10px;
    display: inline-block;
    margin-left: 42%;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}
.headerLeft{
    font-size: 20px;
    margin-left: 0px;
    text-align: left;
    padding-top: 20px;
}
.navbar-right{
    float:right;
    list-style: none;
    font-size: 20px;
    font-weight: 600px;
    padding: 10px;
    padding-top: 20px;
}
